.dropdown-button{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1rem;
    color: var(--text__color--darkbg);
    background: linear-gradient(#191919, #3B3B3B);
    cursor: pointer;
    transition: .5s;
}

.dropdown-button:active{
    color: var(--text__color--brightbg);
    transition-duration: 0s;
}

.dropdown-button:active > .dropdown-button__icon{
    fill: var(--text__color--brightbg);
}

.dropdown-button__icon{
    fill: var(--text__color--darkbg);
    transition: .5s;
}