.dropdown-row{
    width: 100%;
    padding-left: 1rem;
    display: flex;
    height: fit-content;
}

.dropdown-row__text{
    width: 100%;
    height: fit-content;
    border-bottom-right-radius: 1.5rem;
    color: var(--text__color--darkbg);
    padding: .5rem 0rem;
    padding-left: 1rem;
}
.dropdown-row:nth-child(even) > .dropdown-row__text{ background-color: #214663; }
.dropdown-row:nth-child(odd) > .dropdown-row__text{ background-color: #142431; }
.dropdown-row__text:hover{ 
    transition: .25s;
    background-color: #438BC3 !important; /* Needs important due to priority of the selector above */
    cursor: pointer;
}
.dropdown-row__text:active{ 
    color: var(--text__color--brightbg);
    transition-duration: 0s; 
}

.dropdown-row__icon{
    stroke: var(--text__color--darkbg);
    stroke-width: 5;
    height: calc(var(--text__line-height--body2) + 1rem);
    width: 1.5rem;
}