a{
    width: 100%;
    text-decoration: none;
}

footer{
    display: flex;
    align-items: center;
    padding: 0.9% 2%;
    width: 100%;
    height: 15%;
}

header{
    display: flex;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 15%;
}

img{
    width: auto;
    height: 100%;
}

main{
    width: 100%;
    height: 70%;
    display: flex;
    gap: 1%;
    padding: 1.6%;
    padding-top: 0;
}

.columns{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4.5%;
}

.descriptionFrame{
    background: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 0.5% 2%;
    width: 100%;
    height: 100%;
}

.descriptionFrameBorder{
    width: 100%;
    background: rgba(83, 163, 225, 0.36);
    border-radius: 20px;
}

footer > .descriptionFrameBorder{
    height: 100%;
    padding: 0 2%;
}

main > .columns:last-child > .descriptionFrameBorder{
    display: none;
    height: 20%;
    padding: 0 5%;
}

#frame{
    background-color: rgba(0,12,20,0.75);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

#image{
    height: 100%;
}

#imageFrame{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#imageFrameBorder{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 30px;
    background: rgba(83, 163, 225, 0.36);
}

.title{
    width: 100%;
}

main > .columns > .title{
    display: none;
}

/* Media queries */
@media (min-height: 1000px){

    main{
        flex-direction: row;
        height: 100%;
        padding: 2%;
    }

    header{
        display: none;
    }

    footer{
        display: none;
    }

    main > .columns:last-child > .descriptionFrameBorder{
        display: flex;
    }

    main > .columns > .title{
        display: block;
    }

    #imageFrameBorder{
        height: 80%;
    }

}