.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: .5rem 0;
    color: var(--text__color--darkbg);

    /* To apply a gradient color on the border, it's necessary to treat the border as the background-image,
     * then set the background to originate from the border-box and let the padding-box clip through the border-box */
    border-radius: 3rem 0;
    border: 2px solid transparent;
    background-color: transparent; /* Background can't have any color, the button tag has a preset color */
    /* The button tag doesn't let you set the background-image without !important */
    background-image: linear-gradient(#254056, #254056), linear-gradient(to bottom,#85C6F7 60%, #006cbf2e) !important;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.button:hover{
    /* The button tag doesn't let you set the background-image without !important */
    background-image: radial-gradient(#001220, #2376B6), linear-gradient(to bottom,#85C6F7 60%, #006cbf2e) !important;
}

.button:active{
    /* The button tag doesn't let you set the background-image without !important */
    background-image: radial-gradient(#004B85, #61A9E1), linear-gradient(to bottom,#85C6F7 60%, #006cbf2e) !important;
    color: var(--text__color--brightbg);
}

.button__text{
    height: fit-content;
    /* Creates a shadow in all 8 axis from text-shadow, simulating a border (may look pixelated closely) */
    text-shadow: 3px 0 #002644, -3px 0 #002644, 0 3px #002644, 0 -3px #002644,
    3px 3px #002644, -3px -3px #002644, 3px -3px #002644, -3px 3px #002644;;
}

.button__icon{
    height: 2rem;
    width: 2rem;
}