/* Variables declared due to Firefox not supporting @property */
:root{
    --button__gradient-begin-color: #254056;
    --button__gradient-end-color: #254056;
}

/* Creating property of the gradient colors to apply animations */ 
@property --button__gradient-begin-color{
    syntax: '<color>';
    inherits: false;
    initial-value: #254056;
}
@property --button__gradient-end-color{
    syntax: '<color>';
    inherits: false;
    initial-value: #254056;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: .5rem 0;
    color: var(--text__color--darkbg);
    cursor: pointer;
    transition-property: --button__gradient-begin-color, --button__gradient-end-color; 
    transition-duration: .25s; 

    /* To apply a gradient color on the border, it's necessary to treat the border as the background-image,
     * then set the background to originate from the border-box and let the padding-box clip through the border-box */
    border-radius: 3rem 0;
    border: 2px solid transparent;
    background-color: transparent; /* Background can't have any color, the button tag has a preset color */
    /* The button tag doesn't let you set the background-image without !important */
    background-image: radial-gradient(var(--button__gradient-begin-color), var(--button__gradient-end-color)), linear-gradient(to bottom,#85C6F7 60%, #006cbf2e) !important;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}

.button:hover, .button:focus{
    --button__gradient-begin-color: #001220;
    --button__gradient-end-color: #2376B6;
    transition-property: --button__gradient-begin-color, --button__gradient-end-color; 
    transition-duration: .5s; 
}

.button:active{
    --button__gradient-begin-color: #004B85;
    --button__gradient-end-color: #61A9E1;
    transition-duration: 0s; 
    color: var(--text__color--brightbg);
}

.button__text{
    height: fit-content;
    /* Creates a shadow in all 8 axis from text-shadow, simulating a border (may look pixelated closely) */
    text-shadow: 3px 0 #002644, -3px 0 #002644, 0 3px #002644, 0 -3px #002644,
    3px 3px #002644, -3px -3px #002644, 3px -3px #002644, -3px 3px #002644;;
}

.button__icon{
    height: 2rem;
    width: 2rem;
}