.frame{
    width: 100%;
    height: 100%;
    background-color: rgba(22, 36, 45, 0.75);
    border-radius: 2rem;
}

@media (min-height: 100vw){
    .frame{
        border-radius: 0;
    }
}

@media (max-width: 881px){
    .frame__body{
        flex-direction: column;
    }
}

.frame__content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
    height: 100%;
    gap: 2rem; /* Min gap */
    padding: 2rem;
    opacity: 1;
    transition: .3s;
}

.frame__head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
    color: var(--text__color--darkbg);
}

.frame__head--l-side{
    width: 100%;
}

.frame__head--r-side{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* align-items: center; */
    gap: .5rem;
}

.frame__head--center{
    white-space: pre;
}

.frame__body{
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 70%;
}

.frame__body__column{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.frame__body__column--main{
    justify-content: space-between;
}

.frame__body__column--projects{
    justify-items: flex-start;
    background-color: #000000;
    padding: 1rem;
    overflow-y: scroll;
    gap: 1rem;
}

.frame__foot{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.more-projects-label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    padding: 2rem;
    color: var(--text__color--darkbg);
}

.language_selection{
    background-color: #000000;
    color: var(--text__color--darkbg);
    text-align: center;
    border-color: rgba(53, 163, 225, 0.36);;
}

.language_selection:nth-child(even){ background-color: #214663; }
.language_selection:nth-child(odd){ background-color: #142431; }