.image-display{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.image-display__image{
    height: 80%;
}

.image-display__description{
    text-align: center;
    height: 20%;
    color: var(--text__color--darkbg);
    overflow-y: scroll;
}