.image-display{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.image-display__image{
    max-width: 100%;
}

.image-display__description{
    text-align: center;
    height: 20%;
    color: var(--text__color--darkbg);
    overflow-y: scroll;
}