.pad{
    display: flex;
    width: 100%;
    padding: 0 2rem;
    background-color: rgba(53, 163, 225, 0.36);
    border-radius: 1rem;
}

.pad[type="image"], .pad[type="text-paragraph"]{ height: 100%; }

.pad__background{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    background-color: #000000;
}

.pad[type="image"] > .pad__background{
    align-items: center;
    justify-content: center;
}

.pad[type="text-line"] > .pad__background,
.pad[type="text-paragraph"] > .pad__background {
    align-items: flex-start;
    justify-content: left;
    color: var(--text__color--darkbg);
    cursor: text;
}

.pad[type="text-paragraph"] > .pad__background{
    padding: 2rem 2rem;
    overflow-y: scroll;
}
.pad[type="text-line"] > .pad__background{
    padding: .5rem 2rem;
}

.pad__display{
    opacity: 1;
    transition: .15s;
    height: 100%;
    cursor: zoom-in;
}